extends layout


block body
    .wrapper
        img#kado(src="/images/kado.jpg" alt="Kado Spinning")

        #welcome
            h1 Hi, There
            p.bubble
                | I'm <strong>Kado</strong>. <br>
                | I work with JavaScript (Front-end &amp; Node.js), HTML(5), CSS(3), Python, and PHP (in that order). I work mostly as a Web Developer/Programmer.
                | I am also interested in all things data: Econometrics, web-data scrapping, machine learning, data mining and data visualizations.
                | Feel free to contact me about any of the topics mentioned.
                | <small id="message">Oh, and please don't click the picture, I get rather dizzy...</small>

            h2 More About Me:

        #features
            ol
                li
                    h2 Recent Activity:
                    ul.gh-api#proj
                        each val in [1,2,3,4,5]
                            li
                            br

                li
                    h2 Fun Projects:
                    ul#proj(role="navigation")
                        each src, project in {"Responsive Images": "http://www.toptal.com/responsive-web/one-size-fits-some-an-examination-of-responsive-image-solutions", Soundbum: "/Soundcloud", "GitHub API Wrapper": "http://github.com/kdamball/GH-API", Carouse: "/Carouse"}
                            li
                                a(href=src) #{project}
                            br

                li 
                    h2 Contact/Links:
                    ul#proj(role="navigation")
                        each link, name in {GitHub: "http://github.com/kdamball", Work: "http://www.toptal.com/javascript#evented-future", LinkedIn: "http://linkedin.com/pub/kado-damball/56/358/688", Blog: "http://tckidd.wordpress.com", Twitter: "http://twitter.com/kdamball", Resume: "/resume"}
                            li
                                a(href=link) #{name}
                            br
                        li <span id="mail">Email</span>
                        br

    span#plus 
        a(href="https://plus.google.com/+KadoDamball") Plus

    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js")
    script(src="/js/GHApi.min.js")
    script(src="/js/kado.min.js")
