doctype html

html(lang="en")
    head
        meta(name="viewport" content="width=device-width, initial-scale=1")
        if pageTitle
            title #{pageTitle}
        else
            title Kado Damball
        link(rel="icon" href="/favicon.ico" izes="256x256" type="image/png")
        meta(name="author" content="Kado Damball")
        meta(name="description" content="Kado Damball's personal website.")
        meta(name="keywords" content="kado, damball, kado damball, kadodamball, kado, javascript, web developer, developer")
        meta(name="google-site-verification" content="CiycLH2C8kfp7Jz3VyAeLQUrQRn3FLafsKGmwIP_pX4")
        block styles
            link(rel="stylesheet" href="/styles/index.css" type="text/css")
            style.
                @font-face {font-family: 'Nunito';font-style: normal;font-weight: 400;src: local('Nunito-Regular'), url(http://fonts.gstatic.com/s/nunito/v7/cSNs3NwpEgPVRQzvkh3NeQ.woff2) format('woff2');unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;}

    body
        
        block body

        script (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','//www.google-analytics.com/analytics.js','ga');ga('create', 'UA-48570459-1', 'kdamball.com');ga('send', 'pageview');