extends layout

block styles
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css" type="text/css")
    style
        | body{padding: 10%;}
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js" type="text/js")

block body
    h2 SMS Demo
    if success
        h4 Message sent to #{number}
    form(class='col s12' method='POST' action='')
        div(class='row')
            div(class="input-field col m6 s12")
                input(name='number' id='number' type='text' class='validate' placeholder="Enter your phone number")
            div(class="input-field col s12")
                textarea(name='message' id='message' class='materialize-textarea')
                label(for='message') Enter your Message Below
            div(class="input-field col s12")
                input(type="submit" class='waves-effect waves-light btn')


    script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js" type="text/js")
    script $(document).ready(function() {$('#message').characterCounter();});