extends layout

block styles
    link(rel="stylesheet" type="text/css" href="http://necolas.github.io/normalize.css/3.0.1/normalize.css")
    link(rel="stylesheet" type="text/css" href="/styles/snd.css")

block body
    div(ng-app="Snd")
        form(ng-submit="search()" ng-controller="SearchController")
            label Enter a Genre: 
            input#genre(ng-model="genre")
            input#button(type="submit" value="Listen")
            br
            span#error

        #target
            #player

            p#description(ng-bind="description")

            noscript
                p#sorry
                    | Oops<br><br> Please ensure you have javascript enabled and/or you are using a javascript compatible browser<br><br> - Kado
        #info
            p(ng-bind="error")
            div(ng-controller="SongsController")
                ul#songList
                    li(ng-click="playSong(song)" ng-repeat="song in songs.list")
                        img(ng-src="{{song.artwork_url}}")
                        span 
                            | {{ song.title }}

    for src in ["https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular.min.js", "http://connect.soundcloud.com/sdk.js", "https://w.soundcloud.com/player/api.js", "js/soundcloud/app.js"]
        script(type="text/javascript" src=src)

    small
        a(href="http://github.com/kdamball/Soundbum") Source Code